<section id="sliderSection">
  <div class="row">
    <% @articles.in_groups(2,false).each do |group| %>
        <div class="col-lg-4 col-md-4 col-sm-4">

          <% group.each do |article| %>
              <div class="slick_slider">
                <div class="single_iteam">
                  <%= link_to article_path(article) do %>
                      <%= image_tag (article.picture.url) if article.picture? %>
                  <% end %>

                  <div class="slider_article">
                    <h2><%= link_to article.title, article_path(article), class: "slider_tittle" %></h2>
                    <p><%= article.user.username if article.user %>  -
                      <span class="quiet"><small><%= time_ago_in_words(article.created_at) %> ago</small></span>
                    </p><br/>
                    <p><%= truncate article.description, length:75 %></p><br/>

                    <div class="article-body-like">
                      <%= link_to like_article_path(article), method: :put do %>
                          <i class="glyphicon glyphicon-thumbs-up" style="color: white"></i>&nbsp;
                          <b style="color: white"><%= article.get_upvotes.size %></b>
                      <% end %>&nbsp;&nbsp;
                      <%= link_to dislike_article_path(article), method: :put do %>
                          <i class="glyphicon glyphicon-thumbs-down" style="color: white"></i>&nbsp;
                          <b style="color: white"><%= article.get_downvotes.size %></b>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
    <% end %>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Latest News</span></h2>
        <div class="latest_post_container">
          <ul class="latest_postnav">
            <li>
              <% obj.each do |art| %>
                  <div class="row" style="margin-bottom: 10px">
                    <div class="media col-md-4">
                      <%= link_to article_path(art) do %>
                          <%= image_tag(art.picture.url, height: '85', width: '100') if art.picture?%>
                      <% end %>
                    </div>
                    <div class="col-md-8" style="padding: 0;"><b><i style="font-size: small"><h4><%= link_to art.title, article_path(art) %></h4></i></b></div>
                  </div>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="latest_post">
        <h2><span>Videos</span></h2>
        <% obj.in_groups_of(1,false).each do |group| %>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <% group.each do |article| %>
                  <% if article.video? %>
                    <div class="slick_slider">
                      <div class="single_iteam" style="height: 200px; width: 250px;">
                        <%= (video_tag article.video.url, controls: true, type: "video/mp4", height: '200', width: '330') if article.video? %>
                      </div>
                    </div>
                  <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Latest Videos</span></h2>
        <div class="latest_post_container">
          <ul class="latest_postnav">
            <li>
              <% obj.each do |art| %>
                  <% if art.video? %>
                      <div class="row" style="margin-bottom: 10px">
                        <div class="media col-md-4">
                          <%= link_to article_path(art) do %>
                              <%= video_tag(art.video.url, height: '85', width: '100') if art.video?%>
                          <% end %>
                        </div>
                        <div class="col-md-8" style="padding: 0;"><b><i style="font-size: small"><h4><%= link_to art.title, article_path(art) %></h4></i></b></div>
                      </div>
                  <% end %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
