<% obj.each do |article| %>
    <div class="row">
      <div class="col-md-2">
        <section class="chef-info center">
          <%= link_to gravatar_for(article.user, size: 100), user_path(article.user) %>
          <h5> User Name: <%= article.user.username if article.user %></h5>
        </section>
      </div>

      <div class="col-lg-6 well">
        <h4><%= link_to article.title, article_path(article)%></h4>
        <p><%= truncate(article.description, length: 500) %></p>

        <% if article.categories.any? %>
            <p>Categories: <%= render article.categories %></p>
        <% end %>

        <p>
          <span class="quiet"><small> created: <%= time_ago_in_words(article.created_at) %> ago,</small></span>
          <span class="quiet"><small> updated: <%= time_ago_in_words(article.updated_at) %> ago</small></span>
        </p>

        <% if logged_in? && (current_user == article.user || current_user.admin?) %>
            <div class="article-actions">
              <%= link_to "Edit this Article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
              <%= link_to "Delete this article", article_path(article), method: :delete,
                          data: {confirm: "Are you sure you want to delete the article?"},
                          class: "btn btn-xs btn-danger" %>
            </div>
        <% end %>

      </div>
      <div class="col-md-4" >
        <%= image_tag(article.picture.url, size: "250x150") if article.picture? %>
      </div>
    </div>

<% end %>