<!--<h1 align="center">Listing all articles</h1>

<div align="center">
  <# will_paginate %>
</div>

<# render 'article', obj: @articles %>

<div align="center">
  <# will_paginate %>
</div>-->

<h1 align="center">Listing all articles</h1>
<div align="center">
  <%= will_paginate %>
</div>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Articles", articles_path %>
  </li>
  <li>
    <%= link_to "Users", users_path %>
  </li>
</ul>

<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate %>
</div>

