<section id="sliderSection">

  <h1 align="center">All Agencies</h1>

  <% @users.in_groups_of(3, false).each do |group| %>
     <ul class="listing" style="padding-left: 125px">
       <div class="row">
         <% group.each do |user| %>
           <div class="well col-md-3" style="margin-top: 50px; margin-right: 50px" align="center">
             <li><%= link_to gravatar_for(user), user_path(user) %></li>
             <li class="article-title"><%= link_to user.username, user_path(user) %></li>
             <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>

             <% if logged_in? and current_user.admin? %>
               <li><%= link_to "Delete this Agency", user_path(user), method: :delete,
                      data: { Confirm: "Are you sure want to delete?" } %></li>
             <% end %>
           </div>
         <% end %>
       </div>
     </ul>
  <% end %>

  <div align="center">
    <%= will_paginate %>
  </div>

</section>
